<%- layout("/layouts/boilerplate") %>

  <body>
    <div class="show-container">
      <div class="listing-container">
        <% if (listing.image && listing.image.url) { %>
          <img src="<%= listing.image.url %>" alt="<%= listing.title %>" />
          <% } %>
            <div class="listing-username">
              Posted by : <b>
                <%= listing.owner.username %> 
              </b>
            </div>
            <div class="listing-title">
              <%= listing.title %>
            </div>
            <div class="listing-description">
              <%= listing.description %>
            </div>

            <div class="listing-price">
              &#8377; <%= listing.price ? listing.price.toLocaleString("en-IN") : "0" %>
            </div>
            <div class="listing-location">
              <%= listing.location %>, <%= listing.country %>
            </div>
            <% if(currentUser && currentUser._id.equals(listing.owner._id)) {%>
              <div class="listing-actions">
                <a href="/listings/<%= listing._id %>/edit">Edit</a>
                <form method="POST" action="/listings/<%=listing._id%>?_method=DELETE">
                  <button>Delete</button>
                </form>
              </div>
              <% } %>

                <br>
                <hr>
                <!-- for reviews  -->
                <% if(currentUser){ %>
                  <div class="review mt-3 mb-3">
                    <h3 class="nana">Leave a Review</h3>

                    <div class="review-box mt-3 mb-3 text-start">
                      <form action="/listings/<%= listing._id %>/reviews" method="POST" novalidate
                        class="needs-validation">

                        <label for="rating" class="form-label">rating</label>
                        <!-- rating starability library used -->
                        <fieldset class="starability-slot">
                          <!-- <legend>First rating:</legend> -->
                          <input type="radio" id="no-rate" class="input-no-rate" name="review[rating]" value="1" checked
                            aria-label="No rating." />
                          <input type="radio" id="first-rate1" name="review[rating]" value="1" />
                          <label for="first-rate1" title="Terrible">1 star</label>
                          <input type="radio" id="first-rate2" name="review[rating]" value="2" />
                          <label for="first-rate2" title="Not good">2 stars</label>
                          <input type="radio" id="first-rate3" name="review[rating]" value="3" />
                          <label for="first-rate3" title="Average">3 stars</label>
                          <input type="radio" id="first-rate4" name="review[rating]" value="4" />
                          <label for="first-rate4" title="Very good">4 stars</label>
                          <input type="radio" id="first-rate5" name="review[rating]" value="5" />
                          <label for="first-rate5" title="Amazing">5 stars</label>
                        </fieldset>
                        <!-- starability -->

                    </div>


                    <div class="comment-box mt-3 mb-3 text-start">
                      <label for="comment" class="form-label">comment</label>
                      <textarea class="form-label form-control" name="review[comment]" id="comment" cols="30" rows="5"
                        required></textarea>
                      <div class="invalid-feedback">Please leave a comment for feedback!</div>
                    </div>
                    <div class="review-btn text-start">
                      <button type="submit" class="btn btn-primary">Submit Review</button>
                      <div class="valid-feedback">Thank you for your feedback!</div>
                    </div>
                    </form>
                  </div>
                  <% } %>

                    <br>
                    <div class="reviews row">
                      <p><b>All Reviews</b></p>
                      <% for(let review of listing.reviews){ %>
                        <div class="card col-5 mb-3 ms-5">
                          <div class="card-body review-card">
                            <h5 class="card-text">
                              @<%= review.author.username %>
                            </h5>

                            <p class="starability-result card-text  fk" data-rating="<%= review.rating %>">
                            </p>


                            <p class="card-text">
                              <%= review.comment %>
                            </p>
                            <form method="POST"
                              action="/listings/<%=listing.id  %>/reviews/<%= review._id %>?_method=DELETE">
                              <% if(currentUser && currentUser._id.equals(review.author.id)){ %>
                                <button class="btn btn-danger" type="submit">Delete</button>
                                <% } %>
                            </form>
                          </div>
                        </div>



                        <% }%>
                    </div>

      </div>
    </div>
  </body>